<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-info">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Dashboard Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']" routerLinkActive="router-link-active" >Users
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Briefs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Rendus</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" [routerLink]="[ '/']" routerLinkActive="router-link-active">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Paramètres</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
